<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- about 페이지만 footer부분이 가운데로 오는 현상으로 이 페이지만 footer 보이지 않게 하기 -->
    {% if page.title %}
    {%- include views/footer.html -%}
    {% endif %}
  </body>
</html>
